
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="container">
        <div class="row vertical-default position-inh">
            <div class="col-md-12 position-inh">
                <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal  normal regular ">
                    Reportes de Accesos
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray">
    <div class="container">
        <div class="row vertical-top">
            <div class="form-group">
                <select class="custom-select mr-sm-2" id="selAnio" name="selAnio" onchange="MostrarReporteAcceso(this.value)"> 
                    <option selected>Seleccione un año</option>
                    <option value="2019">2019</option>
                </select>
            </div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
@Scripts.Render("~/bundles/log")
