@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<OpeCar.BusinessEntities.Seguridad.EUserDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="container">
        <div class="row vertical-default">
            <div class="col-md-12 position-inh">
                <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal  normal regular ">
                    Mantenimiento de Usuarios
                </h1>

            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray">
    <div class="container">
        <div class="alert alert-success text-right" style="display: none;">
            <a href="#" class="alert-link">Se realizó el registro correctamente.</a>
        </div>
        <div class="row vertical-top">
            <div class="position-inh col-lg-6 col-md-12 col-sm-12">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12 position-inh text-right">

                        <button type="button" id="btnAddUser" class="btn btn-primary" data-toggle="modal" data-target="#modalUsuario" data-placement="top" title="Agregar usuario"  style="text-align: right; right: 0">
                            +
                        </button>
                        <button type="button" id="btnDeleteUser" class="btn btn-primary btnDeleteItem" data-toggle="tooltip" data-placement="top" title="Eliminar usuario" style="text-align: right; right: 0">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive-xl bd-example">
                    <table class="table table-hover table-borderless" id="tableUser">
                        <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nombre</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.IdUsuario">
                                <td>@item.Usuario1</td>
                                <td>@item.NombreCompleto</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="position-inh col-lg-3 col-md-12 col-sm-12">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12 position-inh text-right">

                        <button type="button" id="btnAddRol" class="btn btn-primary" data-toggle="modal" data-target="#modalRol" data-placement="top" title="Agregar rol" style="text-align: right; right: 0">
                            +
                        </button>
                        <button type="button" id="btnDeleteRol" class="btn btn-primary btnDeleteItem" data-toggle="tooltip" data-placement="top" title="Eliminar rol" style="text-align: right; right: 0">
                            <i class="fas fa-trash-alt"></i>
                        </button>

                    </div>
                </div>
                <div class="table-responsive-xl bd-example">
                    <table class="table table-hover table-borderless" id="tableRol">
                        <thead>
                        <tr>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="position-inh col-lg-3 col-md-12 col-sm-12">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-12 position-inh text-right">
                        <button type="button" id="btnRegistrarDetalle" class="btn btn-primary" data-placement="top" title="Guardar" style="text-align: right; right: 0">
                            <i class="far fa-save"></i>
                        </button>
                    </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div id="tree"></div>
                    </div>
                </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Nuevo Usuario</h5>
                <button type="button" class="close btnCloseModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-4">
                                    <label>Usuario:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="txtUsuario">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary" id="btnBuscarUsuario">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive-xl bd-example">
                    <table class="table table-hover table-borderless" id="tableBusquedaUser">
                        <thead>
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCloseModal" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarUsuario">Guardar</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="modalRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalRol">Agregar Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <select class="custom-select mr-sm-2" id="selRol" name="selRol">
                            <option selected>Seleccione un Rol</option>
                            <option value="2">Administrator</option>
                            <option value="3">SuperAdmin</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCloseModal" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarRol">Guardar</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/seguridad")
