<?xml version="1.0" encoding="utf-8" ?>
<servicesSection>
  <services>
    <service key="Seguridad" url="http://localhost:17612/">
      <methods>
        <method key="Login_Autenticar" value="api/Login/Autenticar"/>
        <method key="Login_Finalizar" value="api/Login/Finalizar"/>
        <method key="Seguridad_Usuario_Buscar" value="api/Usuario/Listar/{0}"/>
        <method key="Seguridad_Usuario_Listar" value="api/Usuario/GetUsers"/>
        <method key="Seguridad_Usuario_Agregar" value="api/Usuario/AddUser"/>
        <method key="Seguridad_Usuario_Deshabilitar" value="api/Usuario/Deshabilitar/{0}"/>
        <method key="Seguridad_Usuario_ListarPermiso" value="api/Usuario/ListarPermiso/{0}"/>
        <method key="Seguridad_Permiso_Agregar" value="api/Rol/Add"/>
        <method key="Seguridad_Permiso_Eliminar" value="api/Rol/Delete"/>
        <method key="Seguridad_Log_ListarAccesos" value="api/Log/ListarAccesos/{0}"/>
        <method key="Seguridad_Usuario_ListarPermisoDetalle" value="api/Usuario/ListarPermisoDetalle/{0}/{1}"/>
        <method key="Seguridad_Usuario_RegistrarPermisoDetalle" value="api/Usuario/RegistrarPermisoDetalle"/>
      </methods>
    </service>
    <service key="GestionDocumental" url="http://localhost:53688/">
      <methods>
        <method key="Area_Listar" value="api/Area/Listar/{0}/{1}"/>
        <method key="Area_Registrar" value="api/Area/Registrar"/>
        <method key="Area_Editar" value="api/Area/Editar"/>
        <method key="Area_Eliminar" value="api/Area/Eliminar"/>
        <method key="SubArea_Listar" value="api/SubArea/Listar/{0}/{1}"/>
        <method key="SubArea_Registrar" value="api/SubArea/Registrar"/>
        <method key="SubArea_Editar" value="api/SubArea/Editar"/>
        <method key="SubArea_Eliminar" value="api/SubArea/Eliminar"/>
        <method key="Documento_Listar" value="api/Documento/Listar/{0}"/>
        <method key="Documento_Registrar" value="api/Documento/Registrar"/>
        <method key="Documento_Eliminar" value="api/Documento/Eliminar/{0}"/>
        <method key="Seccion_Listar" value="api/Seccion/Listar/{0}"/>
        <method key="Seccion_Registrar" value="api/Seccion/Registrar"/>
        <method key="Seccion_Eliminar" value="api/Seccion/Eliminar"/>
        <method key="Enlace_Listar" value="api/Enlace/Listar"/>
        <method key="Enlace_Registrar" value="api/Enlace/Registrar"/>
        <method key="Enlace_Eliminar" value="api/Enlace/Eliminar"/>
      </methods>
    </service>
  
  </services>
</servicesSection>