
@{
    ViewBag.Title = "Aplicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="container">
        <div class="row vertical-default">
            <div class="col-md-12     text-default small-screen-default">
                <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal os-animation normal regular animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    Aplicaciones
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray">
    <div class="container">
        <div class="row vertical-top">
            <div class="col-md-2">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://asesoriajuridica.aleatica.com/" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_ALEATICA-54.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://asesoriajuridica.aleatica.com/" target="_blank" rel="noopener"><span style="color: #534741;">Asesoría Jurídica</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://bwise.aleatica.com/" class="figure-image " target="_blank">
                        <img width="251" height="238" src="~/Content/images/iconos_colores_naranja-oscuro-61.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://bwise.aleatica.com/" target="_blank" rel="noopener"><span style="color: #534741;">BWISE</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://www.lighthouse-services.com/aleatica-sau" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_ALEATICA-33.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://www.lighthouse-services.com/aleatica-sau" target="_blank" rel="noopener"><span style="color: #534741;">Canal Ético</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://www.lighthouse-services.com/aleatica-sab" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_ALEATICA-33.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://www.lighthouse-services.com/aleatica-sab" target="_blank" rel="noopener"><span style="color: #534741;">Canal Ético México</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://guardian.aleatica.com/" class="figure-image " target="_blank">
                        <img width="251" height="238" src="~/Content/images/iconos_colores_naranja-oscuro-62.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://guardian.aleatica.com/" target="_blank" rel="noopener"><span style="color: #534741;">Diligencia Debida</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://gesdoc.aleatica.com/" class="figure-image " target="_blank">
                        <img width="251" height="238" src="~/Content/images/iconos_ALEATICA-40.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://gesdoc.aleatica.com/" target="_blank" rel="noopener"><span style="color: #534741;">Filenet Gestión documental</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">

    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,0);"></div>

    <div class="container container-vertical-top">
        <div class="row vertical-top">
            <div class="col-md-2     text-default small-screen-default">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="http://www.gcons.eit.es/" class="figure-image " target="_self">
                        <img width="251" height="238" src="~/Content/images/iconos_ALEATICA-37.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="http://www.gcons.eit.es/"><span style="color: #534741;">GCONS</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2     text-default small-screen-default">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="http://www.gcons.eitvpn.es/" class="figure-image " target="_blank">
                        <img width="251" height="238" src="~/Content/images/iconos_colores_naranja-oscuro-63.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInLeft" data-os-animation="bounceInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="http://www.gcons.eitvpn.es/" target="_blank" rel="noopener"><span style="color: #534741;">GCONS VPN</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2     text-default small-screen-default">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://www.office.com" class="figure-image " target="_self">
                        <img width="251" height="238" src="~/Content/images/iconos_ALEATICA-53.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://www.office.com" target="_blank" rel="noopener"><span style="color: #534741;">Office 365</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2     text-default small-screen-default">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://seguros.aleatica.com/" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_ALEATICA-14.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p><a href="https://seguros.aleatica.com/" target="_blank" rel="noopener"><span style="color: #534741;">Seguros</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2     text-default small-screen-default"></div>
            <div class="col-md-2     text-default small-screen-default"></div>
        </div>
    </div>
</section>
