
@{
    ViewBag.Title = "Aplicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="container">
        <div class="row vertical-default">
            <div class="col-md-12     text-default small-screen-default">
                <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal os-animation normal regular animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    Aplicaciones
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray">
    <div class="container">
        <div class="row vertical-top">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
        </div>
    </div> 
</section>
