
@{
    ViewBag.Title = "Aplicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="container">
        <div class="row vertical-default position-inh">
            <div class="col-md-12 position-inh">
                <h1 class="text-left  margin-top-20 margin-bottom-20 text-normal  normal regular ">
                    Aplicaciones
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section background_soft_gray">
    <div class="container">
        <div class="row vertical-top">
            <div class="col-md-2 position-inh">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInDown animation-inh position-inh" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://www.office.com" class="figure-image" target="_self">
                        <img width="251" height="238" src="~/Content/images/iconos_ALEATICA-53.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInUp" data-os-animation="bounceInUp" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p>
                        <a href="https://www.office.com" target="_blank" rel="noopener"><span style="color: #534741;">Office 365</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2 position-inh">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInDown animation-inh position-inh" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://app.ohlconcesiones.com.pe/Citrix/XenApp/auth/login.aspx" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_ALEATICA-33.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p>
                        <a href="https://app.ohlconcesiones.com.pe/Citrix/XenApp/auth/login.aspx" target="_blank" rel="noopener"><span style="color: #534741;">Citrix</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2 position-inh">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInDown animation-inh position-inh" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://empleados.aleatica.com" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_ALEATICA-33.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p>
                        <a href="https://empleados.aleatica.com" target="_blank" rel="noopener"><span style="color: #534741;">Intranet Aleatica</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2 position-inh">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="http://gin.operadora.pe" class="figure-image " target="_blank">
                        <img width="251" height="238" src="~/Content/images/iconos_colores_naranja-oscuro-62.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInRight" data-os-animation="bounceInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p>
                        <a href="http://gin.operadora.pe" target="_blank" rel="noopener"><span style="color: #534741;">GIN</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2 position-inh">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInDown animation-inh position-inh" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://academy.aleatica.com/" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_capacitacion.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p>
                        <a href="https://academy.aleatica.com/" target="_blank" rel="noopener"><span style="color: #534741;">Aleatica Academy</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-2 position-inh">
                <div class="figure margin-top-0 margin-bottom-0 image-effect-zoom-in  os-animation animated bounceInDown animation-inh position-inh" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <a href="https://aleatica.aulapharos.com/" class="figure-image " target="_blank">
                        <img width="252" height="238" src="~/Content/images/iconos_capacitacion.png" class="attachment-full size-full" alt="">
                    </a>
                </div>
                <div class="col-text-1 text-normal  margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <hr class="hr_brown_ohl">
                </div>
                <div class="col-text-1 text-normal font_24px margin-top-0 margin-bottom-20 os-animation animated bounceInDown" data-os-animation="bounceInDown" data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <p>
                        <a href="https://aleatica.aulapharos.com/" target="_blank" rel="noopener"><span style="color: #534741;">Aula Pharos</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

